/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  padding: 20px;
}
body > input {
  width: 272px;
  height: 40px;
  border: 2px solid #808080;
  border-radius: 4px;
  padding-left: 16px;
  margin-bottom: 32px;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #808080;
  background-color: #fafafa;
  transition: all 350ms;
  font-family: var(--font-family);
}
.active-input {
  color: #2e2f42;
  background-color: #fff;
}
.active-input:hover {
  border: 2px solid #000;
}
.active-clock {
  border: 2px solid #4e75ff;
}
body > button {
  width: 75px;
  height: 40px;
  padding: 8px 16px;
  border: 0;
  border-radius: 8px;
  cursor: auto;
  color: #989898;
  background-color: #cfcfcf;
  font-size: 16px;
  letter-spacing: 0.04em;
  transition: all 350ms;
  font-family: var(--font-family);
}
.back-btn {
  color: #fff;
  background-color: #989898;
}
.back-btn:hover {
  color: #fff;
  background-color: #cfcfcf;
}
.active-btn {
  cursor: pointer;
  color: #fff;
  background-color: #4e75ff;
}
.active-btn:hover {
  background-color: #6c8cff;
}
.timer {
  display: flex;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}
.form label {
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.form > label > input {
  display: flex;
  width: 360px;
  height: 40px;
  padding-left: 16px;
  margin-bottom: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
fieldset {
  display: flex;
  width: 360px;
  height: 66px;
  gap: 48px;
  margin-bottom: 24px;
  border: 1px solid #808080;
  border-radius: 4px;
}
fieldset > label {
  display: flex;
  padding-top: 14px;
}
fieldset > label {
  padding-left: 48px;
}
fieldset > label:last-child {
  padding-left: 0;
}
fieldset > label > input {
  width: 20px;
  height: 20px;
  border: 1px solid #757575;
  border-radius: 14px;
  margin-right: 14px;
}
legend {
  margin-left: 28px;
}
.form button {
  width: 360px;
  height: 40px;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  transition: background-color 350ms;
  margin-bottom: 10px;
}
.form button:hover {
  background-color: #6c8cff;
}
